body{
    margin: 0;
    font-family:Verdana, Sans-Serif;
    background-color:#8F001D;
    color:#FFE11F;
}

header{
    background-color:#ff0d3e ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #eb4034;
}
.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.nav-link{
    text-decoration: none;
    color: #cc9602;
    font-size: 20px;
    font-weight: bold;
}
.title{
    color: #f5e642;
    font-size: 40px;
    font-weight: bold;
}
.hero{
    height: 250px;
    color: #ffcc00;
    background-image: url('McDonalds-logo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-h{
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 0;
    
}
.hero-p{
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    
}
main{
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #eb3636;
    border-radius: 12px;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    padding: 40px;
    margin-right: 40px;
}
.main-img{
    width: 50%;
    max-width: 400px;
    border-radius: 12px;
}
footer{
    background-color: white;
    padding: 20px;
    text-align: center;
    border-top: 4px solid #ad1313;
    margin-top: 40px;
    color: red;
}
.card h2{
    margin-top: 0;
}
.card p{
    margin: 15px 0px 25px;
}
.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background-color: #c79306;
    color: red;
    transition: all 0.3s;
}
