body{
  font-family: sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #301c1c;
}

header{
    background-color: #ff0000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.title{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.hero{
    height: 300px;
    color: white;
    background-image: url('images.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-h{
   font-size: 40px;
   text-shadow: 3px 3px 5px black; 
   margin-bottom: 0; 
}

.hero-p{
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
}

main{
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 12px;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    padding: 40px;
    margin-right: 40px;
}

.card h2{
    margin-top: 0;
}

.card p{
    margin: 15px 0 25px;
}

.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background-color: #ff0000;
    color: white;
    transition: all 0.3s;
}

.main-img{
    width: 50%;
    max-width: 400px;
    border-radius: 12px;
}
    
footer{
    background-color: #ff9d00;
    padding: 20px;
    text-align: center;
    border-top: 4px solid black;
    margin-top: 40px;
    color: white;
}
    
