body{
  font-family: sans-serif;
  margin: 0;
  background-color: #ffdede;
  color: #db2a71;
  font-weight: bold;
  
}
header{
    background-color: #eb7ca8;
    color: #fc1c76;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #fc1c76;
}
.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-weight: 40px;
}
.nav-link{
    text-decoration: none;
    color: #B60061;
    font-size: 20px;
}
.yapiko{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.sushi{
    height: 300px;
    color: #eb389d;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('rolls.jpg');
    align-items: center;
    text-align: center;
}
.sushi-h{
    font-size: 40px;
    text-shadow: 3px 3px 5px pink;
    
}
.sushi-p{
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 3px 3px 5px pink;
}
main{
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #eb60af;
    border-radius: 12px;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    padding: 40px;
    margin-right: 40px;
    box-shadow: 21px 21px 17px -1px rgba(161,42,152,0.55);
    
    
}
.card h2{
    margin-top: 0;
}
.card p{
    margin: 15px 0 25px;
}
.btn{
    padding: 10px 30px;
    border: none;
    text-decoration: none;
    background: #f274bc;
    color: pink;
    transition: all 0.6s;
    border-radius: 15px;
}
.main-img{
    width: 50%;
    max-width: 400px;
    border-radius: 12px;
    
}
footer{
    background-color: #e653a6;
    padding: 20px;
    text-align: center;
    border-top: 4px solid #eb60af;
    margin-top: 40px;
}
