body{
  font-family: Verdana, Sans-Serif;
  margin: 0;
  background-color:#aa6030;
  color:#00080a;
}

header{
    background-color: #291305;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px soild; 
    color: white;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.title{
    color: white;
    font-size: 40px;
    font-weight: bold;                                                                                                                                                                                                                                                                                                                                                                                                         
}

.hero{
    height: 300px;
    
   background-color: #e8af61;
    background-size: cover #de9a2d;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('ce06b9385f90134653baf009ec3efa67.jpg')
}
.hero-h{
    font-size: 40px;
    text-shadow: 2px 4px 4px #000000;
    margin-bottom: 0;
    color: #f9dbb3;
}
                                                                                                                                                                                                                                                                                                    
.hero-p{
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
  text-shadow: 2px 4px 4px #000000;
    color: #f9dbb3;
}

main{
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #fffed0;
    border-radius: 12px;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    padding: 40px;
    margin-right: 40px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 15px 0 25px;
}

.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background: #e0cea5 ;
    color: #654321 ;
    transition: all 0.3s;
}

.main-img{
    width: 50%;
    max-width: 400px;
    border-radius: 12px;
}

footer{
    background-color:  #291305;
    padding: 20px;
    text-align: center;
    border-top: 4px soild;
    margin-top: 40px;
    color: white;
}
